package-lock.json
yalc.lock

backend/package-lock.json
backend/yalc.lock
backend/node_modules/
backend/.yalc/

frontend/package-lock.json
frontend/yalc.lock
frontend/node_modules/
frontend/.yalc/
frontend/build/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
backend/.env
backend/.env.production
frontend/.env
frontend/.env.production

.yalc/

lib/
